.agencement {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin: 0 auto;
  @media (max-width: 1024px) {
    width: 950px;
  }
  @media (max-width: 768px) {
    width: 700px;
  }
  @media (max-width: 480px) {
    flex-direction: column;
    width: 407.5px;
  }
  @media (max-width: 375px) {
    width: 330px;
  }
  @media (max-width: 320px) {
    width: 285px;
  }
}
.styling {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (max-width: 480px) {
    align-items: start;
  }
}
.styling-host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  @media (max-width: 480px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5px 0;
    align-items: center;
  }
}
.appartement {
  margin: 10px 0;
  color: #ff6060;
  
  &--title {
    font-size: 36px;
  }
  &--location {
    margin-top: 15px;
    color: black;
    font-size: 18px;
  }
}
.host {
  display: flex;
  justify-content: flex-end;
  color: #ff6060;
  &--name {
    width: 50%;
    font-size: 18px;
    @media (max-width: 768px) {
      display: flex;
      align-items: center;
    }
    @media (max-width: 480px) {
      display: flex;
      align-items: center;
    }
  }
  &--pic {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }
}
.tags {
  display: flex;
  margin: 0;
  gap: 10px;
  @media (max-width: 480px) {
    width: 415px;
    flex-wrap: wrap;
  }
  @media (max-width: 375px) {
    max-width: 330px;
    flex-wrap: wrap;
  }
  @media (max-width: 320px) {
    width: 285px;
    flex-wrap: wrap;
  }
}
.tag {
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  padding: 5px 20px 5px 20px;
  margin: 10px 0;
}
.rating {
  display: flex;
  gap: 5px;
  margin: 10px;
}
.rate {
  color: grey;
}
.active-rate {
  color: #ff6060;
}
.dropdowns {
  display: flex;
  justify-content: space-between;
  gap: 75px;
  margin: 0 auto;
  width: 1240px;
  @media (max-width: 1024px) {
    width: 950px;
  }
  @media (max-width: 768px) {
    width: 700px;
  }
  @media (max-width: 480px) {
    width: 407.5px;
  }
  @media (max-width: 375px) {
    width: 330px;
    flex-direction: column;
    gap: 0;
  }
  @media (max-width: 320px) {
    width: 290px;
  }
}