.header {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1220px;
  @media (max-width: 480px){
    width: 405px;
    height: 46.88px;
  } 

  &--logo {
    width: 220px;
    height: 70px;
    @media (max-width: 480px) {
      width: 135px;
      height: 45px;
    }
  }
}