.gallery {
  margin: 0 auto;
  width: 90%;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  @media (max-width: 768px) {
    background-color: white;
  }
}