.banner {
  margin: 30px auto;
  width: 1240px;
  height: 223px;
  @media (max-width: 1024px) {
    width: 975px;
    margin: 27px auto;
  }
  @media (max-width: 768px) {
    width: 725px;
    margin: 27px auto;
  }
  @media (max-width: 480px) {
    width: 407.5px;
    margin: 27px auto;
  }
  @media (max-width: 375px) {
    width: 335px;
    margin: 27px auto;
  }
  @media (max-width: 320px) {
    width: 290px;
    margin: 27px auto;
  }
  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  &--opacity {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    bottom: 102%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--text {
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
    @media (max-width: 480px) {
      font-size: 1.75rem;
    }
    @media (max-width: 375px) {
      font-size: 1.5rem;
    }
    @media (max-width: 320px) {
      font-size: 1.3rem;
    }
  }
}

.banner-about {
  display: flex;
  justify-content: center;
  width: 1240px;
  height: 223px;
  margin: 25px auto;

  @media (max-width: 1024px) {
    width: 975px;
    margin: 27px auto;
  }
  @media (max-width: 768px) {
    width: 725px;
    margin: 27px auto;
  }
  @media (max-width: 480px) {
    width: 407.5px;
    margin: 27px auto;
  }
  @media (max-width: 375px) {
    width: 335px;
    margin: 27px auto;
  }
  @media (max-width: 320px) {
    width: 290px;
    margin: 27px auto;
  }

  &--img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-radius: 25px;
  }
}