.banner {
  margin: 30px auto;
  width: 90%;
  height: 223px;
  
  @media (max-width: 768px) {
    width: 85%;
  }
  
  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  &--opacity {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    bottom: 102%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--text {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: white;
    padding : 10px;
    @media (max-width: 768px) {
      font-size: 1.75rem;
    }
    }
  }

.banner-about {
  width: 90%;
  height: 223px;
  margin: 30px auto;
  @media (max-width: 768px) {
    width: 85%;
  }

  &--img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-radius: 25px;
  }
}