.error {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ff6060;
  &--404 {
    font-size: 288px;
    font-weight: 600;
    margin: 50px;
    @media (max-width: 480px) {
      font-size: 96px;
      margin: 60px;
    }
  }
  &--text {
    font-size: 36px;
    margin: 50px;
    @media (max-width: 480px) {
      margin: 60px;
      font-size: 18px;
      text-align: center;
    }
  }
  &--link {
    font-size: 18px;
    margin: 60px;
    color: black;
    text-align: center;
  }
}